<% include ../partials/header %>
<form action="/login-process" method="POST">
    <input type="text" placeholder="Family Username" name="username" />
    <input type="password" placeholder="Password" name="password" />
    <input type="submit" value="login">
</form>
<% include ../partials/footer %>