<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/login-process">
            <input type="text" placeholder="Family Username" />
            <input type="password" placeholder="Password">
            <input type="submit" value="login">
        </form>
    </body>
</html>